@model NavbarModel
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CHUKUNDUR</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="@Url.Action("Abouts","About")">About</a></li>
                <li><a href="@Url.Action("Index","Shop")">Shop</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a>@Model.User.Email</a>
                    }


                    @if (User.Identity.IsAuthenticated)
                    {
                        if (Model.User.Role == "admin")
                        {
                        <li><a href="@Url.Action("Index", "Admin")">Admin panel</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Cart","Shop")">Cart</a></li>
                    }
                    <li><a href="@Url.Action("Logoff", "Account")">LogOut</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Account")">LogIn</a></li>
                    <li><a href="@Url.Action("Register", "Account")">Create account</a></li>
                }

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
